footer{
    box-sizing: border-box;
    width: 100%;
    height: 550px;
    background-color: black;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    justify-content: center;
}

#footermid{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 50vw;
    
}

.footerRef{
    color: white;
    text-decoration: none;
}

footer div{
    display: flex;
    flex-direction: column;
    padding-top: 30px; ;
    row-gap: 1rem;
}

#download div{
    color: white;
    display: flex;
    
}

.footerRef:hover{
    text-decoration: underline;
}

img {
    width: 30px;
    height: auto;
    object-fit: contain;
}

#imageArea {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}