:root {
    --primary-color: #FF4F00;    /* Oranye Strava */
    --secondary-color: #F2F2F2;  /* Abu-abu Terang */
    
    --header-footer-bg: #FFFFFF; /* Abu-abu Terang */
    --background: #F2F2F2;       /* Putih */
    
    --heading: #FF4F00;          /* Oranye Strava */
    --sub-heading: #006D7F;      /* Biru Gelap */
    
    --button-active: #FF4F00;    /* Oranye Strava */
    --button-inactive: #F2F2F2;  /* Abu-abu Terang */
    --button-hover: #A23402;     /* Oranye Gelap */
    --button-text: #FFFFFF;      /* Putih */
    
    --text-normal: #333333;      /* Abu-abu Gelap */
    --text-hover: #FF4F00;       /* Oranye Strava */
    --sub-text: #808080;         /* Abu-abu Pucat */
    
    --text-box-bg: #FFFFFF;      /* Putih */
    --text-box-border: #FF4F00;  /* Oranye Strava */
    --input-border: #CAD1CE;     /* Abu-abu Pucat */
    
    --highlight-text: #FF4500;   /* Oranye Cerah untuk teks sorotan */
    --link-text: #006D7F;        /* Biru Gelap untuk teks link */
    --link-hover: #708090;       /* Abu-abu kebiruan untuk link hover */
  
    --dropdown-bg: #F8F8F8;         /* Abu-abu sangat pucat untuk background dropdown */
    --dropdown-hover-bg: #FF4F00;   /* Oranye Strava untuk background saat hover */
    --dropdown-active-bg: #A23402;  /* Oranye Gelap untuk background aktif dropdown */
    --dropdown-border: #F2F2F2;     /* Border abu-abu terang */
    --dropdown-text: #333333;       /* Teks gelap untuk keterbacaan yang tinggi */
    --dropdown-hover-text: #FFFFFF; /* Teks putih saat hover di dropdown */
    
    --error-text: #D32F2F;       /* Merah untuk pesan kesalahan */
    --success-text: #388E3C;     /* Hijau untuk pesan sukses */
    --warning-text: #FFA500;     /* Oranye untuk peringatan */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    background-color: var(--header-footer-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#popup > div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popup h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

#popup p {
    margin-top: 5px;
    margin-bottom: 50px;
}

#popup a {
    text-decoration: none;
    color: var(--sub-heading);
}

#popup button {
    background-color: var(--button-active);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
    width: 6vw;
    height: 4vh;
}

#popup button:hover {
    background-color: var(--button-hover);
}
