<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- bagian navigation bar -->
    <div id="navigationBar" nama="navigationBar">
        <h1 name="namaAplikasi">Strava</h1>
       
        <form action="" name="buttonLogin">
            <button type="submit">Log in</button>
        </form>
    </div>
    <div name="content">
        <div name="sign up">
            <h1>Sign Up</h1>
            <form action="">
                <label for="">Email</label>
                <input type="email" placeholder="masukan email">
                <label for="">password</label>
                <input type="password" name="password" placeholder="masukan password">
                <button type="submit">Sign Up</button>
            </form>
            <p>already have account? <a href=""log in</a></p>
        </div>
    </div>
</body>
</html>