<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Activitylist.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbarcontainer">
            
            <div id="leftSection">
                <p id="apptitle">Run Hub</p>
                <div class="buttons">
                    <a href="">Dashboard</a>
                    <a href="">Activities</a>
                    <a href="https://maps.app.goo.gl/48MMsTCM14Cf8TBD6">Maps</a>
                </div>
            </div>
            <div id="rightSection">
                <a href="">Profile</a>
                <a href="">Add new</a>
                <!-- <button>Login</button> -->
            </div>
        </div>
        
    </header>

    <div class="bodycontainer">
        <div id="subjudul">My Activities</div>
        <div class="searchfiltercontainer">
            
        </div>

        <div class="activitycontainer">
            <div class="activityfiltercontainer"></div>
        </div>
    </div>
</body>
</html>