<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="DasborFeed.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>
            <div class="buttons">
                <a href="">Dashboard</a>
                <a href="">Activities</a>
                
                
            </div>
        </div>
        <div id="rightSection">
            <a href="">Profile</a>
            <a href="">Add new</a>
            
        </div>
    </header>
    <div class="BodyContainer">
        <div class="BodyLeftSectionContainer">
            <div class="ProfileQuickLook">
                <div class="circle">
                    PP
                </div>
                <p>Vincent Ruslie</p>
                
                <legend>Activities</legend>
                <p>100</p>
            </div>

            <div class="StatisticQuickLook">
                <div class="statistictype">
                    <button>
                        sepeda
                    </button>
                    <button>
                        lari
                    </button>
                </div>
            <div class="statisticbody">
                    <p>This week</p>
            <p id="weeklydistance">0/0 km</p>
            <p id="monthlytime">--:--</p>
            <p id="monthlyelevation">0 m</p>
            <div id="statisticgraph">
                <div class="bar-graph">
                  <div class="bar" style="height: 120px;"></div> <!-- Sunday -->
                  <div class="bar" style="height: 80px;"></div>  <!-- Monday -->
                  <div class="bar" style="height: 150px;"></div> <!-- Tuesday -->
                  <div class="bar" style="height: 100px;"></div> <!-- Wednesday -->
                  <div class="bar" style="height: 60px;"></div>  <!-- Thursday -->
                  <div class="bar" style="height: 200px;"></div> <!-- Friday -->
                  <div class="bar" style="height: 50px;"></div>  <!-- Saturday -->
                </div>
               
              </div>
            <p>This Year</p>
            <p id="yearlydistance">0/0 km</p>
            <p id="yearlytime">--:--</p>
            <p id="yearlyelevation">0m</p>
            </div>
            </div>
        </div>
        <div class="FeedContainer">
            <!-- <div class="FeedContainersub"> -->
            <div class="feed">
                feed goes here
            </div>
            <div class="feed">
                feed goes here
            </div>
            <div class="feed">
                feed goes here
            </div>
            <div class="feed">
                feed goes here
            </div>
            <div class="feed">
                feed goes here
            </div>
            <div class="feed">
                feed goes here
            <!-- </div> -->
        </div>

        </div>
    </div>
</body>
</html>