<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/resetpass.css">
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>
            <div class="buttons">
                <div class="dropdown">
                    <a href="">Activities</a>
                    <ul class="dropdown-list">
                        <li><h2>Top Sports</h2></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Cycling</a></li>
                    </ul>
                </div>
                <a href="">Features</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
                <a href="">Subscription</a>
            </div>
        </div>
        <div id="rightSection">
            <a href="/signup">
                <button>Join For Free</button>
            </a>
        </div>
    </header>
    <main>
        <div id="resetPasswordSection">
            <div id="top">
                <h2 id="header_big">Reset Password</h2>
            </div>

            <div id="mid">
                <!-- method POST -->
                <form action="resetpassword" method="post" th:object="${user}">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="Masukan email">
                    <!-- <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div> -->

                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="Masukan password">
                    <!-- <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div> -->

                    <label for="">Confirm password</label>
                    <input type="password" name="confirmpassword" placeholder="Masukan password">
                    <!-- <div th:if="${#fields.hasErrors('confirmpassword')}" th:errors="*{confirmpassword}"></div> -->

                    <button type="submit" value="signup">Reset</button>
                </form>
            </div>

            <div id="bottom">
                <div id="footerMain">
                    <a id="link" href="/login">back</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="download">
            <div>RunTracker</div>
            <div>RunTracker protect your data read more our <a href="">Privacy Policy</a></div>
            <div id="imageArea">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="images/icons/InstagramWhite.png" alt="Instagram logo">
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="images/icons/YoutubeWhite.png" alt="Youtube logo">
                </a>
            </div>
        </div>
        <div id="footermid">
            <div id="features">
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Feature">Features</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Subscription_business_model">Subscription</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Family_Plan">Family Plan</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Discounts_and_allowances#Student_discount">Student Discount</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Gift">Send a gift</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/About">About</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Career">Careers</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Press">Press</a>
            </div>
            <div id="Routes">
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Route">Routes</a>
            </div>
            <div id="information">
                <a class="footerRef" href="https://en.wikipedia.org/wiki/News">What's new</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Story">Stories</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Support">Support</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Business">Business</a>
                <a class="footerRef" href="https://learn.microsoft.com/en-us/partner-center/">Partner Center</a>
            </div>
            <div id="terms">
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Terms_of_service">Terms</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Privacy">Privacy</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Personal_data">Do Not Share My<br> Personal information</a>
                <a class="footerRef" href="/login">Login</a>
            </div>
        </div>
    </footer>
</body>
</html>