<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/onboarding.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footerMain.css">
    <link rel="stylesheet" href="/css/popupForm.css">
    <title>Onboarding | RunTracker</title>  
    
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            const eventList = document.getElementById("eventList");
            const isUserJoined = eventList.getAttribute("data-isUserJoined") === "true";

            if (isUserJoined) {
                const joinButtons = document.querySelectorAll(".joinButton");
                joinButtons.forEach(button => {
                    button.style.display = "none"; // Sembunyikan tombol
                });
            }
        });
    </script>
     -->
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>

            <!-- Search bar -->

            <div class="buttons">
                <div class="dropdown id="left"">
                    <a href="onboarding">Dashboard</a>
                    <ul class="dropdown-list">
                        <li><a href="/onboarding">Activity Feed</a></li>
                        <li><a href="/Clubs">Clubs</a></li>
                        <li><a href="/myStatic">My Static</a></li>
                        <li><a href="#">My Segments</a></li>
                        <li><a href="#">My Routes</a></li>
                        <li id="subscription"><h3>SUBSCRIPTION</h3></li>
                        <li id="subscriptionBottom"><a href="#">My Goals</a></li>
                    </ul>
                </div>
                <div class="dropdown" id="left">
                    <a href="">Training</a>
                    <ul class="dropdown-list">
                        <li><a href="#">Training Calendar</a></li>
                        <li><a href="myActivity">My Activities</a></li>
                        <li id="subscription"><h3>SUBSCRIPTION</h3></li>
                        <li id="subscription"><a href="#">Training Log</a></li>
                        <li id="subscription"><a href="#">Training Plans</a></li>
                        <li id="subscription"><a href="#">Power Curve</a></li>
                        <li id="subscriptionBottom" class="bottomSubs"><a href="#">Fitness & Freshness</a></li>
                    </ul>
                </div>
                <a href="">Maps</a>
                <a href="">Challenges</a>
            </div>
        </div>
        <div id="rightSection">
            <button>Start Trial</button>
            <a href="">
                <img src="images/icons/Notif_Icon.png" alt="Notification Icon">
            </a>
            <div class="dropdown">
                <a href="">
                    <img id="profile-picture" src="images/asukapp.png" alt="Profile Picture">
                </a>
                <ul class="dropdown-list menu-dropdown">
                  <li><a href="#">Find Friends</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
            <div class="dropdown" id="right">
                <a href="">
                    <img id="dropdown" src="images/icons/Add_Icon.png" alt="Circle add icon">
                </a>
                <ul class="dropdown-list menu-dropdown">
                    <li><a href="#">
                        <img src="images/icons/Upload_Icon.png" alt="Upload activity icon"> Upload Activity
                    </a></li>
                    <li><a href="/manualentry">
                        <img src="images/icons/ManualEntry_Icon.png" alt="Manual entry icon"> Add Manual Entry
                    </a></li>
                    <li><a href="#">
                        <img src="images/icons/Route_Icon.png" alt="Create route icon"> Create Route
                    </a></li>
                    <li><a href="#">
                        <img src="images/icons/CreatePost_icon.png" alt="Create post icon"> Create post
                    </a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="mainContent">
        <!-- left sidebar -->
        <sidebar id="leftSidebar">
            <div id="profileContainer">
                <div id="profile">
                    <!-- nyoba masukin pp -->
                    <div id="profile-pic">
                        <img src="images/saop_asuna_wp_pc.png" alt="Profile icon logo">
                    </div>
                    
                    <h2 id="profile-name">Asuna</h2>
                    <div id="profile-stats">
                        <div>
                            <h4>Following</h4>
                            <p>1</p>
                        </div>
                        <div id="separator"></div>
                        <div>
                            <h4>Followers</h4>
                            <p>10000000</p>
                        </div>
                        <div id="separator"></div>
                        <div>
                            <h4>Activities</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>
                <div id="footerProfile">
                    <a href="">
                        <p><a href="">Add an Activity.</a> Learn how to record or upload an activity on RunTracker.</p>
                        <img src="images/icons/Arrow_Icon.png" alt="Arrow icon">
                    </a>
                </div>
            </div>
            <div id="tracker">
                <div id="buttonContainer">
                    <button>
                        <img src="images/icons/run.png" alt="Running icon">
                    </button>
                    <button>
                        <img src="images/icons/bikeicon.png" alt="Bicycle icon">
                    </button>
                    <button>
                        <img src="images/icons/line-chart.png" alt="Walking icon">
                    </button>
                </div>
                <div id="trackerContainer">
                    <div>
                        <p></p>
                    </div>
                    <div>
                        <div id="footerTracker">
                            <h5>THIS WEEK</h5>
                            <p>0 mi</p>
                        </div>
                        <div>
                            <!-- Graphs -->
                        </div>
                    </div>
                </div>
            </div>
        </sidebar>
        <maincontent>

            <!-- Iterasi untuk setiap event -->
            <th:block th:each="event : ${events}">
                <card>
                    <div id="rightCard" th:if="${event.fileFoto != null}">
                        <img th:src="@{${event.fileFoto}}" alt="Event image">
                    </div>
                    <div id="leftCard">
                        <div>
                            <h3 th:text="${event.title}">Judul event</h3>
                            <p id="description" th:text="${event.deskripsi}">deskripsi event</p>
                        </div>
                        <div id="bottomCard">
                            <form th:action="@{/joinEvent}" method="post">
                                <p id="limit" th:text="'Join: ' + ${event.limitParticipant == 2147483647 ? event.participant : event.participant + ' / ' + event.limitParticipant}"></p>
                                <input type="hidden" th:value="${event.idEvent}" name="eventId">
                                <input type="hidden" name="email" th:value="${user.email}">
                                <input type="hidden" name="idEvent" th:value="${event.idEvent}">
                                <button type="submit" th:classappend="${isUserJoinedAnyEvent} ? 'hidden' : 'show'">Join</button>
               
                            </form>
                            <!-- <span th:text="${event.idEvent}"></span> -->
                            <!-- <form th:action="@{/submitEvent/{id}(id=${event.idEvent})}" method="post"> -->
                            <form action="/submitEvent" method="get">
                                <input type="hidden" name="id" th:value="${event.idEvent}">
                                <button th:classappend="${joinedEventIds.contains(event.idEvent) && isUserJoinedAnyEvent} ? 'show' : 'hidden'" type="submit" th:action="@{/submitEvent/{id}(id=${event.idEvent})}">Submit</button>
                            </form>
                        </div>
                    </div>
                </card>
            </th:block>

        </maincontent>
        <!-- right sidebar -->
        <sidebar id="rightSidebar">
            <div>
                <img src="images/icons/Flag_Icon.png" alt="Clubs flag icon">
                <div>
                    <h3>
                        Clubs on RunTracker
                    </h3>
                    <p>
                        Why do it alone? Get more out of your RunTracker experience by joining or creating a Club.
                    </p>
                    <a href="">
                        Find or Create a Club on RunTracker
                    </a>
                </div>
            </div>
            <div>
                <img src="images/icons/Group_Icon.png" alt="Friends icon">
                <div>
                    <h3>
                        Your Friends on RunTracker
                    </h3>
                    <p>
                        Find and invite friends to see their adventures and share some encouragement.
                    </p>
                    <a href="">
                        Find and Invite Your Friends
                    </a>
                </div>
            </div>
        </sidebar>
    </div>

    <div id="overlay" th:if="${showOverlay}" style="display: block;"></div>
    <popupForm th:if="${showPopupForm}" style="display: block;">
        <h1>Complete Your Profile</h1>
        <form action="/onboarding" method="post">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="firstName" placeholder="Enter your first name" required>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="lastName" placeholder="Enter your last name" required>

            <label for="tanggal_lahir">Date of Birth:</label>
            <input type="date" id="tanggal_lahir" name="tanggalLahir" required>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <label for="region">Region:</label>
            <input type="text" id="region" name="region" placeholder="Enter your region" required>

            <input type="hidden" id="email" name="email" value="${email}">

            <button type="submit">Submit</button>
        </form>
    </popupForm>

    <footer>
        <div id="footermid">
            <div id="judul">
                <h1 id="footerTitle">RunTracker</h1>
                <p>Runtracker @2024</p>
            </div>
            <div id="About">
                <h2>About</h2>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/About">About</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Feature">Features</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Mobile">Mobile</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Subscription_business_model">Subscription</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Family_Plan">Family Plan</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Discounts_and_allowances#Student_discount">Student Discount</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Gift">Send a gift</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Privacy_policy">Privacy Policy</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Personal_data">Do Not Share My Personal<br> Information</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Terms_of_service">Terms and Condition</a>
                <a class="footerRef" href="https://maps.google.com/">About Our Maps</a>
            </div>
            <div id="Routes">
                <h2>Explore</h2>
                <a class="footerRef" href="https://maps.google.com/">Routes</a>
            </div>
            <div id="follow">
                <h2>Follow</h2>
                <a class="footerRef" href="https://www.facebook.com/">Facebook</a>
                <a class="footerRef" href="https://twitter.com">Twitter</a>
                <a class="footerRef" href="https://www.instagram.com/">Instagram</a>
                <a class="footerRef" href="https://www.youtube.com/">Youtube</a>
                <a class="footerRef" href="https://www.linkedin.com/">LinkedIn</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Story">Stories</a>
            </div>
            <div id="help">
                <h2>Help</h2>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Support">RunTracker Support</a>
            </div>
            <div id="more">
                <h2>More</h2>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Career">Careers</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Press">Press</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Business">Business</a>
                <a class="footerRef" href="https://learn.microsoft.com/en-us/partner-center/">Partner Center</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Developer">Developers</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Labs">Labs</a>
                <a class="footerRef" href="https://en.wikipedia.org/wiki/Standard">RunTracker Community<br> Standards</a>
            </div>
        </div>
    </footer>
</body>
</html>