<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ManualEntry.css">
</head>
<body>
    <div class="navbar">
        <h1>Lari Bang?</h1>
    </div>
    <div class="MainBody">
        <form class="sidebar">
            <div class="sidebarcontainer">
                <button id="FileButton">File</button>
                <button id="ManualButton">Manual</button>
            </div>
           
        </form>
        <form class="MainEntry">
            <p id="Judul">Manual Entry</p>
            <div class="Distance">
                <legend>Distance</legend>
                
                <input type="number" min="0.01" max="99999" name="activity[distance]" id="activity_distance" >
                <select class="MetricDistance">
                    <option value="km" >
                    Kilometer
                    </option>
                    <option value="km">
                    Meter
                    </option>
                </select>
                
            </div>

            <div class="Duration">
                <legend>Duration</legend>
                <div class="DurationInputContainer">
                    <div class="InputField">
                    <label for="activity_elapsed_time_hours"><abbr title="hours">hr</abbr>
                    </label><input type="number" value="01" placeholder="1" name="activity[elapsed_time_hours]" id="activity_elapsed_time_hours" >
                    </div>
                    <div class="InputField">
                    <label for="activity_elapsed_time_minutes"><abbr title="minutes">min</abbr>
                    </label><input type="number" value="00" placeholder="00" aria-required="true" name="activity[elapsed_time_minutes]" id="activity_elapsed_time_minutes">
                    </div>
                    <div class="InputField">
                    <label for="activity_elapsed_time_seconds"><abbr title="seconds">s</abbr>
                    </label><input type="number" value="00" placeholder="00" name="activity[elapsed_time_seconds]" id="activity_elapsed_time_seconds">
                    </div>
                    </div>
            </div>

            <div class="Elevation">
                <legend>Elevation</legend>
                
                <input type="number" min="0.01" max="99999" name="elevation[height]" id="elevation_height" >
                <select class="MetricElevation">
                    <option value="m" >
                    Meter
                    </option>
                    <option value="ft">
                    Feet
                    </option>
                </select>
                
            </div>

            <hr class="GarisPemisah">

            <div class="RideType">
                <legend>Sport</legend>
                <select class="RideTypeSelection">
                    <option value="Bike" >
                    Bike
                    </option>
                    <option value="Run">
                    Run
                    </option>
                </select>
            </div>

            <div class="DateAndTime">
                <legend>Date & Time</legend>
                <input type="date" id="dateinput">
                <input type="time" id="timeinput">
            </div>

            <div class="ActivityTitle">
                <legend>Title</legend>
                <input type="text" name="activity[name]" id="activity_name" required="required" aria-required="true">
                
            </div>
            <div class="Description">
                <legend>Description</legend>
                <textarea id="DescriptionTextArea"></textarea>
                
            </div>

            <hr class="GarisPemisah">

            <div class="fileUpload">
                <legend>UploadImage</legend>
                <input type="file" id="myFile" name="filename">
            </div>

            <hr class="GarisPemisah">

            <button type="submit">SUBMITTT!!!</button>
        </form>
    </div>
</body>
</html>