<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunTracker</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>
            <div class="buttons">
                <a href="">Activities</a>
                <a href="">Features</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
                <a href="">Subscription</a>
            </div>
        </div>
        <div id="rightSection">
            <button>Login</button>
        </div>
    </header>

    <main>
        <div id="imageProto">
            <!-- insert image + styling -->
            <div id="registerSection">
                <h2>Community-Powered Motivation</h2>
                <p>Track your progress and cheer each other on. Join over 100 million active people on RunTracker for free.</p>

                <div>
                    <p>Already a Member?</p>
                    <a href="">Log In</a>
                </div>

                <h2>Sign Up</h2>
                <!-- method POST -->
                <form action="">
                    <label for="">Email</label>
                    <input type="email" placeholder="masukan email">
                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="masukan password">
                    <label for="">Confirm password</label>
                    <input type="password" name="password" placeholder="masukan password">
                    <button type="submit">Sign Up</button>
                </form>

                <div>By signing up for RunTracker, you agree to the <a href="">Terms of Service</a>. View our <a href="">Privacy Policy</a>.</div>
            </div>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>