<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>Run Tracker</h1>
            <div class="buttons">
                <a href="">Activities</a>
                <a href="">Features</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
                <a href="">Subscription</a>
            </div>
        </div>
        <div id="rightSection">
            <button>Login</button>
        </div>
    </header>

    <main>
        <div id="imageProto">
            <div id="registerSection"></div>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>