<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <div>Strava</div>
            <div><a href="">Activity</a></div>
            <div><a href="">features</a></div>
            <div><a href="">Maps</a></div>
            <div><a href="">Challenges</a></div>
            <div><a href="">Subscription</a></div>
            <div>LOGIN</div>
        </div>
        <div id="Registration">
            <h1><span>Community-Powered</span><br> Motivation</h1>
            <p>Track your progress and cheer each other on. Join over 100 million active people on Strava for free.</p>
            <p>Already Member? <a href="">Log in</a></p>
            <div id="fb">Sign-up with facebook</div>
            <div id="Google">Sign-up with google</div>
            <div id="Apple">Sign-up with Apple</div>
            <div id="email">Sign-up with email</div>
            <p>By signing up for Strava, you agree to the <a href="">Terms of Service</a>. View our <a href="">Privacy Policy.</a></p>
        </div>
        <div id="footer">
            <div id="download">
                <div>Strava</div>
                <div>gambar google playstore</div>
                <div>gambar apple store</div>
                <div>strava protect your data read more our <a href="">Privacy Policy</a></div>
                <div>logo dll pasti nambah gambar</div>
            </div>
            <div id="features">
                <a href="">Features</a><br>
                <a href="">Subscription</a><br>
                <a href="">Family Plan</a><br>
                <a href="">Student Discount</a><br>
                <a href="">Send a gift</a><br>
                <a href="">About</a><br>
                <a href="">Carrers</a>
                <a href="">Press</a>
            </div>
            <div id="Routes">
                <a href="">Routes</a>
            </div>
            <div id="information">
                <a href="">What's new</a>
                <a href="">Stories</a>
                <a href="">Support</a>
                <a href="">Bussiness</a>
                <a href="">Partner Center</a>
            </div>
            <div id="terms">
                <a href="">Terms</a>
                <a href="">Privacy</a>
                <a href="">Do Not Share My Personal information</a>
                <a href="">login</a>
            </div>
        </div>
    </div>
</body>
</html>