<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/mainpage.css">
</head>
<body>
    <div id="container">
        <header>
            <div id="leftSection">
                <h1>RunTracker</h1>
                <div class="buttons">
                    <a href="">Activities</a>
                    <a href="">Features</a>
                    <a href="">Maps</a>
                    <a href="">Challenges</a>
                    <a href="">Subscription</a>
                </div>
            </div>
            <div id="rightSection">
                <button>Login</button>
            </div>
        </header>
        <main>
            <div id="imageProto">
                <!-- insert image + styling -->
                <div id="registerSection">
                    <h2>Community-Powered Motivation</h2>
                    <p>Track your progress and cheer each other on. Join over 100 million active people on RunTracker for free.</p>
                    <p>Already a Member? <a href="">Log In</a></p>
    
                     
                    <!-- method POST -->
                    <form action="signup" method="get">
                        <button id="signup">Sign Up With Email</button>
                    </form>
    
                    <div id="footerMain">By signing up for RunTracker, you agree to the <a href="">Terms of Service</a>. View our <a href="">Privacy Policy</a>.</div>
                </div>
            </div>
        </main>
        <footer>
            <div id="download">
                <div>RunTracker</div>
                <div>RunTracker protect your data read more our <a href="">Privacy Policy</a></div>
                <div>logo dll pasti nambah gambar</div>
            </div>
            <div id="footermid">
                <div id="features">
                    <a class="footerRef" href="">Features</a>
                    <a class="footerRef" href="">Subscription</a>
                    <a class="footerRef" href="">Family Plan</a>
                    <a class="footerRef" href="">Student Discount</a>
                    <a class="footerRef" href="">Send a gift</a>
                    <a class="footerRef" href="">About</a>
                    <a class="footerRef" href="">Carrers</a>
                    <a class="footerRef" href="">Press</a>
                </div>
                <div id="Routes">
                    <a class="footerRef" href="">Routes</a>
                </div>
                <div id="information">
                    <a class="footerRef" href="">What's new</a>
                    <a class="footerRef" href="">Stories</a>
                    <a class="footerRef" href="">Support</a>
                    <a class="footerRef" href="">Bussiness</a>
                    <a class="footerRef" href="">Partner Center</a>
                </div>
                <div id="terms">
                    <a class="footerRef" href="">Terms</a>
                    <a class="footerRef" href="">Privacy</a>
                    <a class="footerRef" href="">Do Not Share My<br> Personal information</a>
                    <a class="footerRef" href="">login</a>
                </div>
            </div>
        </footer>
        </div>
    </div>
</body>
</html>