<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Lari bang?</h1>
            <div class="head"><a href="">Activity</a></div>
            <div class="head"><a href="">features</a></div>
            <div class="head"><a href="">Maps</a></div>
            <div class="head"><a href="">Challenges</a></div>
            <div class="head"><a href="">Subscription</a></div>
            <div id="logbt">LOGIN</div>
        </div>
        <div id="bg">
            <h1 id = judul>LOGIN PAGE</H1>
                <form action="" method="post">
                    <div id="emails" class="input">
                        <label for="email">Email</label><br>
                        <input type="text" name="Email" id="email" placeholder="Masukan Email"><br>
                    </div>
                    <div id = pw class="input">
                        <label for="password">Password</label><br>
                        <input type="text" name="password" id="password" placeholder="Masukan Password"><br>
                    </div>
                    <button type="submit" >Sign in</button>
                </form>
        </div>
    </div>
</body>
</html>