* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

:root {
    --primary-color: #FF4F00;    /* Oranye Strava */
    --secondary-color: #F2F2F2;  /* Abu-abu Terang */
    
    --header-footer-bg: #FFFFFF; /* Abu-abu Terang */
    --background: #F2F2F2;       /* Putih */
    
    --heading: #FF4F00;          /* Oranye Strava */
    --sub-heading: #006D7F;      /* Biru Gelap */
    
    --button-active: #FF4F00;    /* Oranye Strava */
    --button-inactive: #F2F2F2;  /* Abu-abu Terang */
    --button-hover: #A23402;     /* Oranye Gelap */
    --button-text: #FFFFFF;      /* Putih */
    
    --text-normal: #333333;      /* Abu-abu Gelap */
    --text-hover: #FF4F00;       /* Oranye Strava */
    --sub-text: #808080;         /* Abu-abu Pucat */
    
    --text-box-bg: #FFFFFF;      /* Putih */
    --text-box-border: #FF4F00;  /* Oranye Strava */
    --input-border: #CAD1CE;     /* Abu-abu Pucat */
    
    --highlight-text: #FF4500;   /* Oranye Cerah untuk teks sorotan */
    --link-text: #006D7F;        /* Biru Gelap untuk teks link */
    --link-hover: #708090;       /* Abu-abu kebiruan untuk link hover */
  
    --dropdown-bg: #F8F8F8;         /* Abu-abu sangat pucat untuk background dropdown */
    --dropdown-hover-bg: #FF4F00;   /* Oranye Strava untuk background saat hover */
    --dropdown-active-bg: #A23402;  /* Oranye Gelap untuk background aktif dropdown */
    --dropdown-border: #F2F2F2;     /* Border abu-abu terang */
    --dropdown-text: #333333;       /* Teks gelap untuk keterbacaan yang tinggi */
    --dropdown-hover-text: #FFFFFF; /* Teks putih saat hover di dropdown */
    
    --error-text: #D32F2F;       /* Merah untuk pesan kesalahan */
    --success-text: #388E3C;     /* Hijau untuk pesan sukses */
    --warning-text: #FFA500;     /* Oranye untuk peringatan */
}

header #rightSection {
    gap: 40px;
}

header #rightSection img {
    width: 30px;
    height: auto;
    object-fit: contain;
    filter: invert(1) grayscale(100%);
}

main {
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    justify-content: center;
}

legend {
    margin-top: 3vh;
    margin-bottom: 8px;
    font-size: small;
}

hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
}

container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

label {
    align-self: flex-start;
    margin-bottom: 3px;
    margin-top: 10px;
}

input {
    background-color: var(--text-box-bg);
    margin-bottom: 3px;
    padding: 7px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    width: 49%;
    height: 5vh;
}

#DurationInput{
    width: 100%;
    border: 1px solid var(--input-border);
}

#RideTypeInput{
    width: 100%;
    border: 1px solid var(--input-border);
}

#TimeInput {
    width: 100%;
    border: 1px solid var(--input-border);
}

select {
    background-color: var(--text-box-bg);
    margin-bottom: 3px;
    padding: 7px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    width: 49%;
    height: 5vh;
}

form button {
    background-color: var(--button-active);
    color: var(--button-text);
    width: 6vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button:hover {
    background-color: var(--button-hover);
}

.EntryContainer {
    width: 20vw;
}

.ActivityTitle input {
    width: calc(20vw + 30px + 20vw);
    border: 1px solid var(--input-border);
}

#midCont .EntryContainer legend {
    margin-top: 0px;
}

.Description textarea {
    resize: vertical;
    min-width: calc(20vw + 30px + 20vw);
    min-height: 30vh;
    border: 1px solid var(--input-border);
}

.fileUpload input {
    width: calc(20vw + 30px + 20vw);  
    border: 1px solid var(--input-border);  
}

.fileUpload h3 {
    margin-top: 3vh;
    margin-bottom: 8px;
    font-weight: none;
    font-size: small;
} 

span {
    display: none;
}