#text_small {
    font-size: small;
}

#header_mid {
    font-size: large;
    margin-top: 20px;
    margin-bottom: 5px;
}

#header_big {
    font-size: x-large;
}

form label {
    font-size: small;
}

#footerMain {
    margin-top: 20px;
    font-size: small;
}