<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>RunTracker</title>
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>
            <div class="buttons">
                <a href="">Activities</a>
                <a href="">Features</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
                <a href="">Subscription</a>
            </div>
        </div>
        <div id="rightSection">
            <a href="/login">
                <button>Login</button>
            </a>
        </div>
    </header>

    <main>
        <div id="imageProto">
            <!-- insert image + styling -->
            <div id="registerSection">
                <h2>Community-Powered Motivation</h2>
                <p>Track your progress and cheer each other on. Join over 100 million active people on RunTracker for free.</p>
                <p>Already a Member? <a href="">Log In</a></p>

                <h2>Sign Up</h2>
                <!-- method POST -->
                <form action="login" method="post">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="Masukan email">
                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="Masukan password">
                    <label for="">Confirm password</label>
                    <input type="password" name="password" placeholder="Masukan password">
                    <button type="submit" value="signup">Sign Up</button>
                </form>

                <div id="footerMain">By signing up for RunTracker, you agree to the <a href="">Terms of Service</a>. View our <a href="">Privacy Policy</a>.</div>
            </div>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>