<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>RunTracker | Log In</title>
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>
            <div class="buttons">
                <div class="dropdown">
                    <a href="">Activities</a>
                    <ul class="dropdown-list">
                        <li><h2>Top Sports</h2></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Cycling</a></li>
                    </ul>
                </div>
                <a href="">Features</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
                <a href="">Subscription</a>
            </div>
        </div>
        <div id="rightSection">
            <a href="/signup">
                <button>Join For Free</button>
            </a>
        </div>
    </header>

    <main>
        <div id="imageProto">
            <!-- insert image + styling -->
            <div id="loginSection">
                <div id="top">
                    <h2 id="header_big">Log In</h2>
                </div>

                <div id="mid">
                    <!-- method POST -->
                    <form action="login" method="post">
                        <label for="">Email</label>
                        <input type="email" name="email" placeholder="Masukan email">
                        <label for="">Password</label>
                        <input type="password" name="password" placeholder="Masukan password">
                        <button type="submit">Log In</button>
                    </form>
                </div>

                <div id="bottom">
                    <div id="footerMain">
                        <a href="">Forgot Password?</a>  
                    </div>
                    <div id="footerMain">
                        <a href="/signup">Create a New Account</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>