<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/onboarding.css">
    <title>Onboarding | RunTracker</title>
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>

            <!-- Search bar -->

            <div class="buttons">
                <a href="" id="dropdown">Dashboard</a>
                <a href="" id="dropdown">Training</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
            </div>
        </div>
        <div id="rightSection">
            <button>Start Trial</button>
            <p>Notif</p>  <!-- ganti ke logo lonceng? -->
            <p id="dropdown">Profile</p>  <!-- ganti ke logo profile -->
            <p id="dropdown">Add activities</p>  <!-- ganti ke logo +? -->
        </div>
    </header>

    <!-- main content -->
    <div>
        <!-- left sidebar -->
        <sidebar id="leftSidebar">

        </sidebar>
        <maincontent>

        </maincontent>
        <!-- right sidebar -->
        <sidebar id="rightSidebar">

        </sidebar>
    </div>

    <footer>

    </footer>
</body>
</html>