<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div id="container">
        <header>
            <div id="leftSection">
                <h1>RunTracker</h1>
                <div class="buttons">
                    <a href="">Activities</a>
                    <a href="">Features</a>
                    <a href="">Maps</a>
                    <a href="">Challenges</a>
                    <a href="">Subscription</a>
                </div>
            </div>
            <div id="rightSection">
                <button>Login</button>
            </div>
        </header>
        <div id="bg">
            <h1 id = judul>Sign up</H1>
                <form action="" method="post">
                    <div id="emails" class="input">
                        <label for="email">Email</label><br>
                        <input type="text" name="Email" id="email" placeholder="Masukan Email"><br>
                    </div>
                    <div id = pw class="input">
                        <label for="password">Password</label><br>
                        <input type="text" name="password" id="password" placeholder="Masukan Password"><br>
                    </div>
                    <button type="submit" >Sign in</button>
                </form>
        </div>
    </div>
</body>
</html>