<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>RunTracker | Log In</title>
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>
            <div class="buttons">
                <div class="dropdown">
                    <a href="">Activities</a>
                    <ul class="dropdown-list">
                        <li><h2>Top Sports</h2></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Cycling</a></li>
                    </ul>
                </div>
                <a href="">Features</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
                <a href="">Subscription</a>
            </div>
        </div>
        <div id="rightSection">
            <a href="/login">
                <button>Log In</button>
            </a>
        </div>
    </header>

    <main>
        <div id="imageProto">
            <!-- insert image + styling -->
            <div id="loginSection">
                <div id="top">
                    <h2 id="header_big">Sign Up</h2>
                </div>

                <div id="mid">
                    <!-- method POST -->
                    <form action="signup" method="post">
                        <label for="">Email</label>
                        <input type="email" name="email" placeholder="Masukan email">
                        <label for="">Password</label>
                        <input type="password" name="password" placeholder="Masukan password">
                        <label for="">Confirm password</label>
                        <input type="password" name="password" placeholder="Masukan password">
                        <button type="submit" value="signup">Sign Up</button>
                    </form>
                </div>

                <div id="bottom">
                    <div id="footerMain">
                        Already a member? 
                        <a href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="download">
            <div>RunTracker</div>
            <div>RunTracker protect your data read more our <a href="">Privacy Policy</a></div>
            <div id="imageArea">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="images/InstagramWhite.png" alt="Instagram logo">
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="images/YoutubeWhite.png" alt="Youtube logo">
                </a>
            </div>
        </div>
        <div id="footermid">
            <div id="features">
                <a class="footerRef" href="">Features</a>
                <a class="footerRef" href="">Subscription</a>
                <a class="footerRef" href="">Family Plan</a>
                <a class="footerRef" href="">Student Discount</a>
                <a class="footerRef" href="">Send a gift</a>
                <a class="footerRef" href="">About</a>
                <a class="footerRef" href="">Carrers</a>
                <a class="footerRef" href="">Press</a>
            </div>
            <div id="Routes">
                <a class="footerRef" href="">Routes</a>
            </div>
            <div id="information">
                <a class="footerRef" href="">What's new</a>
                <a class="footerRef" href="">Stories</a>
                <a class="footerRef" href="">Support</a>
                <a class="footerRef" href="">Bussiness</a>
                <a class="footerRef" href="">Partner Center</a>
            </div>
            <div id="terms">
                <a class="footerRef" href="">Terms</a>
                <a class="footerRef" href="">Privacy</a>
                <a class="footerRef" href="">Do Not Share My<br> Personal information</a>
                <a class="footerRef" href="">Login</a>
            </div>
        </div>
    </footer>
</body>
</html>