<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>RunTracker | Log In</title>
</head>
<body>
    <header>
        <div id="leftSection">
            <h1>RunTracker</h1>
            <div class="buttons">
                <a href="">Activities</a>
                <a href="">Features</a>
                <a href="">Maps</a>
                <a href="">Challenges</a>
                <a href="">Subscription</a>
            </div>
        </div>
        <div id="rightSection">
            <a href="/login">
                <button>Log In</button>
            </a>
        </div>
    </header>

    <main>
        <div id="imageProto">
            <!-- insert image + styling -->
            <div id="loginSection">
                <div id="top">
                    <h2>Sign Up</h2>
                </div>

                <div id="mid">
                    <!-- method POST -->
                    <form action="signup" method="post">
                        <label for="">Email</label>
                        <input type="email" name="email" placeholder="Masukan email">
                        <label for="">Password</label>
                        <input type="password" name="password" placeholder="Masukan password">
                        <label for="">Confirm password</label>
                        <input type="password" name="password" placeholder="Masukan password">
                        <button type="submit" value="signup">Sign Up</button>
                    </form>
                </div>

                <div id="bottom">
                    <div id="footerMain">
                        Already a member? 
                        <a href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>